@page
@model Servitium.Pages.Profile.Manage
@{
    ViewData["Title"] = "Manage profile";
}

<link rel="stylesheet" href="~/css/site.css"/>

<div class="center-container">
    <div class="form-container">
        <section>
            <form id="optionsForm" method="post">
                <h2>Options</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <select asp-for="Input.Role" asp-items="Model.RoleList" class="form-control"
                            aria-required="true"></select>
                    <label asp-for="Input.Role">Choose role to view site</label>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <div class="button-container"
                     style="display: flex; gap: 10px; align-items: center; justify-content: center;">
                    <button id="apply-options" type="submit" class="w-25 btn btn-lg btn-primary">Apply</button>
                </div>
            </form>
        </section>
    </div>
</div>