@page "{id}"
@model Servitium.Pages.ServiceProviderManagers.Create
@{
    ViewData["Title"] = "User promotion";
}

<h1 xmlns="http://www.w3.org/1999/html">Promote user to a service provider manager</h1>

<form method="post" asp-antiforgery="true">
    <div class="form-floating mb-3">
        <select asp-for="Input.ServiceProviderId" asp-items="Model.ServiceProviders" class="form-control" aria-required="true"></select>
        <label asp-for="Input.ServiceProviderId" class="control-label"></label>
        <span asp-validation-for="Input.ServiceProviderId" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Promote" class="btn btn-primary"/>
    </div>
</form>
